<style>

@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');


html {
background-color: black;
color: white;
}

a:link {
  color:blue;
}

a:visited {
  color:cyan;
}

a:hover {
  color:hotpink;
  text-decoration: underline;
}

a:active {
  color:hotpink;
  text-decoration: underline;
}

body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

}

div {
  max-width: 470px;
}

p1 {
  text-indent: 35px;

}
</style>