<style>

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

}

a:link {
  color:blue;
}

a:visited {
  color:blue;
}

a:hover {
  color:cyan;
  text-decoration: underline;
}

a:active {
  color:hotpink;
  text-decoration: underline;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

}



div {
  max-width: 470px;
}

p1 {
  text-indent: 35px;

}

t1 {
  font-family: "Lucida Console", Monaco, monospace;
  max-width: 800px;

}
</style>