<style>



a:link {
  color:blue;
}

a:visited {
  color:cyan;
}

a:hover {
  color:hotpink;
  text-decoration: underline;
}

a:active {
  color:hotpink;
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  background-color: black;
color: white;s
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

}

div {
  max-width: 470px;
}

p1 {
  text-indent: 35px;

}
</style>